body {
  font-size: 36px;
  color: #E8F0F3;
  background-color: #640CE8;
  font-family: 'Galda', sans-serif;
/*  box-sizing: border-box;*/
  margin: 0 auto;
}

/*/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  position: relative;
}
.navbar-brand { margin-bottom: 60px;
                margin-left: 10px;
              }
#collapsable-nav{
  background-color: #E8900C;
  text-align: center;
}
#main-content {
  color: #640CE8;
/*  background-color: #E8F0F3;
*/  height: 1000px;
 

}
#menu {
 
  margin: 50px;
  font-size: 1em;
  align: center;}

  h3{
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: .8em;
  text-align: center;
  padding-top: 30px;
}
p{
  font-size: .5em;
  text-align: left; 
  padding: 30px;
  float: left;
}
a {
  font-size: 1em;
}

.content {
   margin: 15px;
  background-color: #E8F0F3;
  height: 700px;
}






@media (min-width: 768px){
 .navbar-collapse { 
    visibility: hidden;
  }

  @media (min-width: 768px) and (max-width:991px ){
    #sushi
  }

 


