

nav {

	background-color: #e6d3e7;
	height: 96px;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 30px;
	padding: 20px;
	border: 10px;
	border-color: black;
	border-style: solid;

}
.social {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
}
.bar {
 position: relative;
    top: 18px;

}
.inbox {

	margin-right: 25px;
	float: right;
	margin-top: 32px;
}

a{
	color: black;
	font-size: 1.8em;
	font-family: "Alt hazer", sans-serif; 
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 10px;
 	padding-bottom: 5px;
 	padding-right: 5px;
 	padding-left: 5px; 
	margin-right: 20px;
	margin-left: 20px;

}
.logo{
	margin-top: 10px;
	margin-left: 30px;
	width: 80px;
	height: 80px;
}

.title{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

h2 {
    font-family: "Alt hazer", sans-serif;
    font-size: 2em;
    display: inline-block;
}
h3{
	font-family: "Alt hazer", sans-serif;
    font-size: 1em;
    background-color: #f9cccd;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    float: right;
}
.pics{ width: 200px;}

#bacon {
    border: 5px;
    width: 90%;
}

.container {
	clear: both;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}
.gallery {
	float: left;
	width: 70%;
	margin-bottom: 15px;
}
​
.about {
    float: right;
    width: 28%;
    background-color: #e6d3e7;
	height: 1100px;
}
	h1{
	font-family: "Alt hazer", sans-serif;
    font-size: 1.618em;
    background-color: #f9cccd;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
	float: left;

	}
footer {
	font-family: "Garamond Premier Pro", serif; 
	font-size: 1.2em;
	color: white;
	background-color: black;
	margin: 15px;
	height: 96px;
	
}
h4{
	color: white;
	font-size: 1.4em;
	font-family: "Alt hazer", sans-serif; 
	text-transform: uppercase;
	float: left;
	margin-left: 40px;

}
h5{
	margin: 50px;
	padding: 30px;
	width: 800px;
	float: right;
}
h6{
	
}

