
@import url ("https://fonts.googleapis.com/css?family=Montserrat|Rasa");

*{
	margin: 0;
	padding: 0;
	box sizing: border-box;
}

figure{

	border: transparent;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 100px auto 100px auto;
}

figure img
{
height: 100%;

}
#menu{
		width: 600px;
		margin: 10px auto 10px auto;

}
 nav 
 {
	text-align: center;
	display: inline;
	padding: 10px;
	border: 2px solid red;
	margin-bottom: 10px;
	font-size: 40px;

}
a {
text-decoration: none;
font-family: 'Monserrat', sans-serif;
color: black;
}
a:visited {
	color: blue;
}
a:hover {
	background-color: #aaaaaa;
}
#spacer{ width: 10px;
		height: 20px;
}

footer {
	font-size: 16px;
	font-weight: 100;
	font-family: sans-serif;
left: 20px;
}

.column {

	width: 100px;
	height: 100px;
	background-color: #cc00cc;
	color: black;
	margin: 25px;
/*	display: inline-block;
*/	float: left;
}

#wrapper {

	border: 5px solid black;
	display: block;
	margin: 0 auto;
	width: 450px;
	margin: 10px auto 10px auto;


}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
p {
	width: 80%;
	font-size: 48px;
	text-align: left;
	margin: 50px auto;
	clear:both;
}


