
	body {
  background-color: white;
}
#title {
 margin: 0 20%;
 padding: 50px;
}
#container {
  width: 90%;
  margin: 0 auto;
}
/*.layout {
  width: 100%;
}*/
#article {
  background-color: orange;
  width: 29.33%;
  margin: 0 1%;
  padding: 1%;
  float: left;
  
}
#stuff1 {
  background-color: red;
    width: 29.33%;
  margin: 0 1%;
  padding: 1%;
  float: left;
}
#stuff2 {
  background-color: purple;
    width: 29.33%;
  margin: 0 1%;
  padding: 1%;
  float: left;
}
footer {
  background-color: #e8f0f3; 
  text-align: center;
  clear:both; 
  padding: 1%;
  margin: 0 1%;
}
h4 {
  font-family: helvetica , sans-serif;
  padding: 10px;
  }
  h1  {
  font-family: helvetica , sans-serif;
  }
  p {
  font-family: helvetica , sans-serif;
  padding: 10px;
  }

@media only screen and (max-width: 780px){
  #article {
    float: none;
    width: auto;}
    
  #stuff1{
    float: none;
    width: auto;}
   
  #stuff2{
    float: none;
    width: auto;}
