

@import url ("https://fonts.googleapis.com/css?family=Montserrat|Rasa");

body {
	color: white;
	background-color: orange;
	text-align: center;
	margin: auto;
	font-size: 16px;


}

h1 {
	
    font-family: 'Montserrat', sans-serif;
    font-size: 1.618em ;
}

p {
	font-family: 'Rasa', serif;
	max-width: 33%;

}