

@import url ("https://fonts.googleapis.com/css?family=Montserrat|Rasa");

body {
	color: white;
	background-color: orange;
	text-align: left;
	margin: auto;
	font-size: 32px;
	max-width: 33%;


}

.lockup {
	width: 608px;
	position: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#select {

text-indent: -5px;
	
}

#upload {
		display: block;
		padding: 5px;
	    margin: 5px;
}

h1 {
	
    font-family: 'Montserrat', sans-serif;
    font-size: 2em ;
}

p {
	font-family: 'Rasa', serif;
	
}
form {
	    margin: 2px;
	    position: center;
}