@import url("https://fonts.googleapis.com/css?family=Galada");

body {

	
	color: #eee;
	font-family: 'Galada', cursive;
	font-size: 24px;
	/*background-image: url("images/team.jpg");
	background-repeat: no-repeat;*/
	text-align: center;


}

#wrapper {
	margin: 0 auto;
	background-color: #fa8322;
	width: 960px;
}
h1 {

	font-size: 3em;
	padding-top: 60px;
	margin: 10px;
}
img {
	margin: 0;
	padding: none;
}
p {
	padding-top: none;
	padding-bottom: 40px;
	max-width: 900px;
	/*font-size: 1em;*/
}

a {

	text-decoration: none !important;
	padding: 5px;
	color: black ! important;

}
a :hover {
	color: green;
}

nav {

	padding: 40px;
	font-size: 1.618em;
}
