@import url("https://fonts.googleapis.com/css?family=Galada");
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {

	
	color: #eee;
	font-family: 'Galada', cursive;
	font-size: 24px;
	/*background-image: url("images/team.jpg");
	background-repeat: no-repeat;*/
	text-align: center;


}

/*#wrapper {
	margin: 0 auto;
	background-color: #03A9F4;
	width: 960px;
}*/
h1 {

	font-size: 3em;
	padding-top: 20px;
	background-color: #2196F3;
}

a {

	text-decoration: none ;
	padding: 5px;
	color: #2196F3;
	background-color: #eee;

}
a:hover {
	background-color: #65c3f3;
}

nav {
	margin: 0 auto;
	background-color: #eee;
	padding: 30px;
	font-size: 1.618em;
}
#img {

	background-color: #65c3f3;
		border: 15px double white;

}
img {
	width: 500px;
	margin: 10px auto;
	padding: 25px 0 5px 0;
}
footer {

	padding-top: 10px;
	margin: 0;
	font-size: 1em;
	background-color: #2196F3;
	padding: 20px;
}


