body {background-color: #fe0000;
	color: #ffffff;
	font-size: 14px;
	font-family: "Droid Serif", serif;
	font-weight: normal;
	text-decoration: none;
	
}
img {display: block;
margin: auto;}
ul{
	background-color: #000000;
	text-align: left;
	width: 400px;
	margin: 30px auto;
	list-style: none;
}
h1 {background-color: #fe0000;
	color: #ffffff;
	font-size: 24px;
	font-family: "Droid Sans", Sans;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;}
#slogan {font-style: italic;
text-transform: uppercase;
margin-top: 80px}
#blurb {
	margin-top: 30px
}
h2 {
	text-align: center;
}
p{
	
	width: 500px;
	margin: auto; 
}
